*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #2b2b2b, #1c1c1c);
    font-family: sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.panel{
    border-radius: 15px;
    height: 260px;
    width: 90%;
    background: #111;
    border: 4px solid #000;
    display: flex;
    padding: 15px;
    gap: 10px;
    box-shadow: 
        0 10px 25px rgba(0,0,0,0.6),
        inset 0 0 10px rgba(255,255,255,0.1);
}

.box{
    height: 100%;
    width: 50px;
    border-radius: 8px;

    /* White Piano Key Look */
    background: linear-gradient(to bottom, #fff 0%, #e7e7e7 100%);
    border: 1px solid #bcbcbc;

    box-shadow:
        0 4px 8px rgba(0,0,0,0.4),
        inset 0 -6px 0 rgba(0,0,0,0.25);

    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 22px;
    padding-bottom: 10px;
    transition: 0.1s ease-in;
    cursor: pointer;
}

/* Press Effect */
.box:active{
    transform: translateY(6px);
    box-shadow:
        0 1px 3px rgba(0,0,0,0.6),
        inset 0 -2px 0 rgba(0,0,0,0.3);
}

.inp{
    margin-top: 50px;
    height: 150px;
    width: 35%;
    background: #000;
    color: #0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    letter-spacing: 3px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.8);
}

.box.active{
    transform: translateY(5px);
    box-shadow: 0px 2px 5px black inset;
}
